<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login Screen</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<form action="/user/login" method="get">
    <div class="texts">
        <p>Enter E-Mail</p>
        <input type="text" name="mail" placeholder="E-Mail"><br><br>
        <p>Enter Password</p>
        <input type="password" id="pass" name="password" placeholder="Password" minlength="8" required />
        <input type="checkbox" onclick="myFunction()">Show Password<br>
        <button type="submit">Login</button>

        <script>
            function myFunction() {
              var x = document.getElementById("pass");
              if (x.type === "password") {
                x.type = "text";
              } else {
                x.type = "password";
              }
            }
        </script>
    </div>
</form>

</body>
</html>
